<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <!-- Vue Render 有效區域 -->

    <div id="app">
        <!-- 輸出 - 文字的綁定 -->
        {{ message}}

        <!----------------------------------------------------->

        <!-- 迴圈 -->
        <ul>
            <!-- 使用 v-for 以迴圈的方式 render(呈現) 出來 -->
            <!-- item 為迴圈每輪所指向的資料項目 -->
            <li v-for="item in list">{{ item }}</li>
        </ul>

        <!----------------------------------------------------->

        <!-- 輸入-表單變數資料雙向綁定 -->

        <!-- 輸入資料，並綁定 message -->
        <input v-model="Ian"><br>

        <!----------------------------------------------------->

        <!-- 事件 -->
        <!-- v-on 為事件監聽，click 為滑鼠按下事件 -->
        <button v-on:click="testEvent">按我</button>

        <!----------------------------------------------------->

        <!-- 條件式 -->
        <!-- 如 isIan 的質為 true 時，將顯示此 div 標籤 -->
        <div v-if="isIan">{{ messageOne }}</div>

        <!----------------------------------------------------->

        <!-- JavaScript 表示式渲染 -->
        <!-- 以 『三元表示式』 判斷 messageTwo 是否值相等於 "This is message."，相等時顯示為 "Yes"，反之則顯示 "No" -->
        取資料模型屬性進行判斷: {{ messageTwo === 'This is message.'?'Yes':'No'}}<br>

        <!-- 以 『文字相加』的方式將 messageTwo 屬性後加上 "(Add Text)" 字串 -->
        文字相加: {{ messageTwo + '(Add Text)' }}<br>

        <!-- 以 『數字相加』的方式渲染 counter 加 10 的結果 -->
        數字運算: {{ counter + 10 }}<br>

        <!-- 使用 JavaScript 陣列的 join 語法，以『，』作為間隔符號合併 foods 陣列中的值 -->
        陣列合併: {{ foods.join(', ') }}<br>

        <!----------------------------------------------------->

        <!-- 表單元件資料綁定 -->
        <!-- 使用 v-bind 綁定至 value -->
        <input type="text" v-bind:value="TextOne"><br>
        <!-- 使用 v-bind 縮寫綁定至 value -->
        <input type="text" :value="TextTwo">

        <!----------------------------------------------------->

        <!-- HTML Element 樣式資料綁定 -->
        <!-- class 樣式 class 名稱綁定 -->
        <div v-bind:class="className">
            class 樣式 class 名稱綁定
        </div>

        <!-- style 樣式綁定 -->
        <div v-bind:style="customStyle">
            style 樣式綁定
        </div>

        <!----------------------------------------------------->

        <!-- 圖片資料綁定 -->
        圖檔相對位置資料綁定:<br>
        <img v-bind:src="imagePath" alt="初音 ミク">

        <!----------------------------------------------------->

        <!-- 列表資料綁定 - v-for -->
        <!-- Array 列表資料 -->
        <!-- v-for="([陣列元素], [索引值]) in [陣列屬性名稱]" -->
        <ul>
            <li v-for="(item,index) in colors" v-bind:key="index">{{ item }}</li>
        </ul>

        <!-- Object 列表資料 -->
        <!-- v-for="([屬性質], [屬性名稱], [索引值]) in [陣列屬性名稱]" -->
        <ul>
            <li v-for="(value, propertyName, index) in school" v-bind:key="index">{{ propertyName }} - {{ value }}</li>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>


</body>

</html>