<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <!-- Vue Render 有效區域 -->

    <div id="app">
        <!-- 輸出 - 文字的綁定 -->
        {{ message}}

        <!----------------------------------------------------->

        <!-- 迴圈 -->
        <ul>
            <!-- 使用 v-for 以迴圈的方式 render(呈現) 出來 -->
            <!-- item 為迴圈每輪所指向的資料項目 -->
            <li v-for="item in list">{{ item }}</li>
        </ul>

        <!----------------------------------------------------->

        <!-- 輸入-表單變數資料雙向綁定 -->

        <!-- 輸入資料，並綁定 message -->
        <input v-model="Ian"><br>

        <!----------------------------------------------------->

        <!-- 事件 -->
        <!-- v-on 為事件監聽，click 為滑鼠按下事件 -->
        <button v-on:click="testEvent">按我</button>

        <!----------------------------------------------------->

        <!-- 條件式 -->
        <!-- 如 isIan 的質為 true 時，將顯示此 div 標籤 -->
        <div v-if="isIan">{{message01}}</div>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>


</body>

</html>